body{
    background-color: #ffb984;
}
.headers{
    font-family: Calibri;
    text-align: center;
}

h1{
    font-size: 30px;
}
h2{
    margin-top: 30px;
}

.div_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: blanchedalmond;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
}
.div_container div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    border: 1px solid black;
    padding: 10px;
    font-size: 30px;
    height: 60px;
}
